.Note-bar-container {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.Note-Bar {
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    width: 500px;
    height: 442px;
    background-color: black;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.Toogle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 2px;
    gap: 8px;
    width: 200px;
}

.Piano-wrapper {
    width: 100%;
    overflow-x: scroll;
    padding: 50px 20px;
    box-sizing: border-box;
}

.Key {
    color: white;
    background-color: orange;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    left: 60px;
}

#connection {
    width: 200px;
    height: 20px;
    background-color: rgb(224, 23, 23);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
    text-align: center;
    color: white;

    &.connected {
        background-color: rgb(24, 103, 24);
    }
}

#remaining {
    position: absolute;
    left: 700px;
    top: 150px;
    font-size: 25px;
    font-weight: 800;
}

#wrong-key-everlay {
    z-index: 999;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.show {
        animation: fadeItLoss 0.5s ease-in-out;
    }
}

@keyframes fadeItLoss {
    0% {
        background-color: inherit;
    }

    10% {
        background-color: rgba(218, 10, 10, 0.609);
    }

    100% {
        background-color: inherit;
    }
}